parameters:
    level: 8
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    
    paths:
        - plugins/BlankFix/src/SolicitDev/BlankFix
        - plugins/VPNProtect/src/SolicitDev/VPNProtect
        - libraries/libVPN/src/SolicitDev/libVPN