parameters:
    level: 8
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    
    paths:
        - plugins/SDAutoUpdater/src/UnsolicitedDev/SDAutoUpdater
        - plugins/VPNProtect/src/UnsolicitedDev/VPNProtect
        - plugins/RotateWrench/src/UnsolicitedDev/RotateWrench
        - plugins/AverageTPS/src/UnsolicitedDev/AverageTPS
        - plugins/BlankFix/src/UnsolicitedDev/BlankFix
        - plugins/PlayerTrade/src/alvin0319/PlayerTrade
        - plugins/BurgerCustomArmor/src/Heisenburger69/BurgerCustomArmor
        - plugins/EC-TableUI/src/SchdowNVIDIA/ECTUI

    scanDirectories:
        - vendor/Unsolicited-Studios/sdpm-resources/libraries