parameters:
    level: 8
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    
    paths:
        - plugins/VPNProtect/src/SolicitDev/VPNProtect
        - plugins/BlankFix/src/SolicitDev/BlankFix
        - plugins/PlayerTrade/src/alvin0319/PlayerTrade
        - plugins/BurgerCustomArmor/src/Heisenburger69/BurgerCustomArmor
        - plugins/EC-TableUI/src/SchdowNVIDIA/ECTUI
        - libraries/libVPN/src/SolicitDev/libVPN